#siteContainer{
	width: 100vw;
	height: 100vh;
}

#bg{
	width: 99.7vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top:0;
	z-index: -5;
}

#cRight{
	height: 100vh;
	position: absolute;
	left: 0;
	top:0;
}

#cLeft{
	height: 100vh;
	position: absolute;
	right: 0;
	top:0;
}

#drop-zones{

	height: 25vh;
	/*background-color: #f0f;*/
	padding: 26vh 0 4vh 0;
	margin-right : 30px;

}

.drop-zone .dog{
	
	animation:  sidetoside 1s infinite ease-in-out alternate, upanddown 0.5s ease-in-out alternate infinite;

}

@keyframes sidetoside{
	from{
		margin: -100px 0px 0px -10px;
	}
	to{
		margin: -100px -10px 0px 0px;

	}

}

@keyframes upanddown{
	from{
		height: 200px;
	}
	to{
		height: 180px;

	}

}


#drag-zones{
	height: 37vh;
	/*background-color: blue;*/
	padding: 3vh 0 5vh 0;
	margin-right: 30px;
}

.frontRow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 75px;
	padding: 0px 225px 0 325px;
}

.backRow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 300px 0 250px;
}



.drop-zone  {
	margin-top: 100px;
	height:50px;
	width: 100px;
	margin:20px;
	background-color: rgba(0, 0, 0, 0.2);
}

.drag-zone {

	margin-top: 100px;
	height: 50px;
	width: 100px;
	background-color: rgba(0, 0, 0, 0.2);
}

.drag-zone .dog{

	filter: brightness(0.4);
	z-index: -5;
}

.dog{
	height:200px;
	width: 100px;
	margin: 0px;
	margin-top: -100px;
}

#instructions{
	position: fixed;
	padding: 10px 20px 20px;
	height:500px;
	width: 700px;
	left:0;
	right:0;
	margin: 100px auto;
	background-color: #222;
	border-radius: 25px;
	border:solid 2px white;
	text-align: center;
	z-index: 5;
}

#instructionsBG{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
  	top: 0;
  	z-index: 4;
}

.closeInst{display:none;}

#instructions h2{
	color: #FFDC6C;
	font-family: 'Limelight', cursive;
	font-size: 55px;
	padding: 0px 50px 10px;
}

#instructions  p {
	color:white;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
	padding: 4px 70px;
	font-family: 'Open Sans', sans-serif ;
}



.small {
	color: #C12929;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif ;
}


#closeInstButton{
	font-family:  sans-serif ;
	border-radius: 10px;
	border:solid 2px black;
	height:30px;
	width: 30px;
	margin-top: 10px;
	margin-left: auto;
	line-height: 27px;
	color:#222;
	background-color: white;
	cursor: pointer;
}

#controlsRight{
	position: absolute;
	top:35px;
	right:35px;
}

.controlButton{
	width: 30px;
	height: 30px;
	margin: 10px;
	cursor: pointer;
	border:2px white solid;
	background-color: #222;
	border-radius: 10px;
	color: white;
	text-align: center;
	line-height: 29px;
}

